
<div class="container">
  <div class="col-sm-3"></div>

  <div class="col-sm-5" id="sign-up-container">
    <h1 class="pg-title">Sign Up As a Food Truck Owner</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-contents">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-field" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-field" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-field" %>
        </div>

        <div class="field">
          <div class="actions">
            <%= f.submit "Sign Up" %>
          </div>
        </div>
      </div>
    <% end %>


  </div>
</div>
