<div class='centered-div'>
  <%= bootstrap_form_for @truck, html: { multipart: true } do |f| %>
  <% if @truck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@truck.errors.count, "error") %> prohibited this truck from being saved:</h2>

      <ul>
      <% @truck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field(:owner_id, value: current_owner.id) %>

  <div class="form-control-file">
    <%= f.file_field :image %>
  </div>
    <%= f.text_field :name  %>
    <%= f.text_area :cuisine  %>
    <%= f.text_area :menu  %>
    <%= f.submit class: "btn btn-primary" %>
<% end %>
</div>
