<div class="page-header">
  <% if current_owner == @truck.owner %>
    <%= link_to edit_truck_path(@truck), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit Details
    <% end %>
  <% end %>
  <h1 class="pg-title">Information for <%= @truck.name %></h1>
</div>

<div class="row">
  <div class="col-sm-3">
    <%= link_to image_tag(@truck.image.url(:large), class: "img-responsive"), @truck.image.url %>
  </div>
  <div class="col-sm-9">

    <p>
      <strong>Cuisine:</strong>
      <%= @truck.cuisine %>
    </p>

    <p>
      <strong>Menu:</strong>
      <% @truck.menu.split(",").each do |item| %>
      <ul>
        <li> <%= item %> </li>
      </ul>
      <% end %>
    </p>
    <div class="star-rating" data-score= <%= @avg_review %> ></div>
    <em><%= "#{@reviews.length} reviews" %></em>
  </div>
</div>

<div>
  <h1>Truck Locations and Times</h1>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Start time</th>
        <th>End time</th>
        <th>Street address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip code</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>

      <% @time_and_places_sorted_by_time = @truck.time_and_places.sort {|a,b| a.start_time <=> b.start_time } %>
      <% @time_and_places_sorted_by_time.each do |time_and_place| %>
        <% if !time_and_place.end_time.past? %>
          <tr>
            <td><%= time_and_place.start_time %></td>
            <td><%= time_and_place.end_time %></td>
            <td><%= time_and_place.street_address %></td>
            <td><%= time_and_place.city %></td>
            <td><%= time_and_place.state %></td>
            <td><%= time_and_place.zip_code %></td>
            <% if @truck.owner == current_owner %>
              <td>
                <%= link_to 'Edit Location', edit_time_and_place_path(time_and_place), class:'btn btn-primary' %>
              </td>
              <td><%= link_to 'Remove Location', time_and_place, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>

      <!-- If collection is empty, add a time and place from the past -->
      <% if @time_and_places_sorted_by_time.length == 0 %>
        <% @time_and_places_sorted_by_time << TimeAndPlace.new(end_time: DateTime.yesterday, start_time: DateTime.yesterday) %>
      <% end %>

      <% if @truck.time_and_places.nil? || @time_and_places_sorted_by_time.last.end_time.past? %>
        <td colspan="7"><em>There are currently no locations for this truck.</em></td>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Add a Location', new_time_and_place_path() + "?truck_id=" + @truck.id.to_s, class: "btn btn-primary" %>
</div>



<% if contributor_signed_in? %>
  <%= render 'reviews/form' %>
  <div class="fb-comments" expr:href='data:post.url' data-numposts="5"></div>
<% else %>
  <% if !owner_signed_in? %>
    <a href="/login"><h3>Log in to leave a review</h3></a>
    <div class="fb-comments" expr:href='data:post.url' data-numposts="5"></div>
  <% else %>
    <div class="fb-comments" expr:href='data:post.url' data-numposts="5"></div>
  <% end %>
<% end %>


<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>
