
<p id="notice"><%= notice %></p>

<%= link_to image_tag(@truck.image.url(:large)), @truck.image.url %>
<h1>
  <%= @truck.name %>
</h1>

<p>
  <strong>Cuisine:</strong>
  <%= @truck.cuisine %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @truck.menu %>
</p>

<% if @truck.owner == current_owner %>
  <%= link_to 'Edit', edit_truck_path(@truck) %> |
<% end %>

<% if contributor_signed_in? %>
<div class="fb-comments" expr:href='data:post.url' data-numposts="5"></div>
<% else %>
<a href="/login"><h3> Write a Review or Comment </h3></a>
<% end %>


<%= link_to 'Back', trucks_path %>
