
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-3">
    <%= link_to image_tag(@truck.image.url(:large)), @truck.image.url %>
  </div>
  <div class="col-sm-9">
    <h1>
      <%= @truck.name %>
    </h1>
    <p>
      <strong>Cuisine:</strong>
      <%= @truck.cuisine %>
    </p>

    <p>
      <strong>Menu:</strong>
      <%= @truck.menu %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-9">
    <table class="table">
      <thead>
        <tr>
          <th>Start time</th>
          <th>End time</th>
          <th>Street address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip code</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @truck.time_and_places.each do |time_and_place| %>
          <tr>
            <td><%= time_and_place.start_time %></td>
            <td><%= time_and_place.end_time %></td>
            <td><%= time_and_place.street_address %></td>
            <td><%= time_and_place.city %></td>
            <td><%= time_and_place.state %></td>
            <td><%= time_and_place.zip_code %></td>
            <td><%= link_to 'Show', time_and_place %></td>
            <td><% if @truck.owner == current_owner %>
            <%= link_to 'Edit', edit_truck_path(@truck) %>
            <% end %></td>
            <td> <% if @truck.owner == current_owner %>
            <%= link_to 'Destroy', time_and_place, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= form_for @contributor, html: { multipart: true }, :url => {:controller => "contributors", :action => "update"} do |f| %>
  <div class="field">
    <%= f.label 'Upload an image of your food ' %><br>
    <%= f.file_field :image %>
    <div class='field'>
    <%= submit_tag('Submit')%>
  </div>
  </div>
<%end%>
<div class="row">
  <div class="col-sm-7">
    <%= link_to image_tag(@contributor.image.url(:large)), @contributor.image.url %>
  </div>
  <div id="selected_images"></div>




<% if contributor_signed_in? %>
<div class="fb-comments" expr:href='data:post.url' data-numposts="5"></div>
<% else %>
<a href="/login"><h3> Write a Review or Comment </h3></a>
<% end %>

<%= link_to 'Back', trucks_path %>
