<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @truck.name %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @truck.cuisine %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @truck.menu %>
</p>

<%= render 'time_and_place_form' %>

<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
