<div class="page-header">
  <%= link_to edit_owner_registration_path(@owner), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit Owner
  <% end %>
  <h1 class="pg-title">Logged in as <%= @owner.email %></h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Cuisine</th>
      <th>Menu</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @owner.trucks.each do |truck| %>
      <tr>
        <td><%= link_to image_tag(truck.image.url(:small)), truck %></td>
        <td><%= link_to truck.name, truck %></td>
        <td><%= truck.cuisine %></td>
        <td><%= truck.menu %></td>
        <td col span="1" style="width: 15%"><% @reviews = Review.where(truck_id: truck.id) %>
            <% if @reviews.blank? %>
              <% @avg_review = 0 %>
            <% else %>
              <% @avg_review = @reviews.average(:rating).round(2) %>
            <% end %>
          <div class="star-rating" data-score= <%= @avg_review %> ></div>
        </td>
        <% if truck.owner == current_owner %>
          <td><%= link_to 'Edit Truck Info', edit_truck_path(truck), class: " btn btn-primary" %></td>
          <td><%= link_to 'Add a Location', new_time_and_place_path() + "?truck_id=" + truck.id.to_s, class: "btn btn-primary" %></td>
          <td><%= link_to 'Remove Truck', truck, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
    <% if @owner.trucks.length == 0 %>
      <td colspan="7"><em>You currently have no trucks.</em></td>
    <% end %>
  </tbody>
</table>

<% if current_owner.id == @owner.id %>
  <%= link_to ' Create a New Truck', new_truck_path, class:'btn btn-primary' %>
<% end %>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>
