
<div class="login-page">
    <div class="form">
<h2><%= @time_and_place.truck.name %> </h2>
<%= bootstrap_form_for(@time_and_place) do |f| %>
  <% if @time_and_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_and_place.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @time_and_place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.datetime_select :start_time, label: "Start time*" %>
    <%= f.datetime_select :end_time, default: 2.hours.from_now, label: "End time*"%>
    <%= f.text_field :street_address, label: "Street address*" %>
    <%= f.text_field :zip_code, label: "Zip code*" %>
    <%= f.text_field :city, label: "City*" %>
    <%= f.text_field :state, label: "State*" %>
    <input type="hidden" name="time_and_place[truck_id]" value="<%= @time_and_place.truck.id %>"/>
    <%= f.submit value: "Save Location" %>
    <h6>* Indicates a required field</h6>
<% end %>
</div>
</div>
