<p id="notice"><%= notice %></p>

<h1>Listing Time And Places</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Street address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_and_places.each do |time_and_place| %>
      <tr>
        <td><%= time_and_place.start_time %></td>
        <td><%= time_and_place.end_time %></td>
        <td><%= time_and_place.street_address %></td>
        <td><%= time_and_place.city %></td>
        <td><%= time_and_place.state %></td>
        <td><%= time_and_place.zip_code %></td>
        <td><%= link_to 'Show', time_and_place %></td>
        <td><%= link_to 'Edit', edit_time_and_place_path(time_and_place) %></td>
        <td><%= link_to 'Destroy', time_and_place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time and place', new_time_and_place_path %>
